<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
  </head>
  <body ng-app="starter"  ng-controller='MainCtrl'>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">CALCULATOR</h1>
      </ion-header-bar>
      <ion-content>
        <div class='container'>
          <div class="row view-space">
          <p>{{viewSpace}}</p>
          </div>
          <div class="button-bar">
            <button class='button button-positive button-outline'>x<sup>2</sup></button>
            <button class='button button-positive button-outline'>sin</button>
            <button class='button button-positive button-outline'>cos</button>
            <button class='button button-positive button-outline'>tan</button>
          </div>
          <div class="button-bar">
            <button class='button button-positive button-outline'>&radic;<span class='sqrt'>x</span></button>
            <button class='button button-positive button-outline'>sin<sup>-1</sup></button>
            <button class='button button-positive button-outline'>cos<sup>-1</sup></button>
            <button class='button button-positive button-outline'>tan<sup>-1</sup></button>
          </div>
          <div class="button-bar">
            <button class='button button-outline' ng-click='set(1)'>1</button>
            <button class='button button-outline' ng-click='set(2)'>2</button>
            <button class='button button-outline' ng-click='set(3)'>3</button>
            <button class='button button-calm button-outline'>&divide;</button>
          </div>
          <div class="button-bar">
            <button class='button button-outline' ng-click='set(4)'>4</button>
            <button class='button button-outline' ng-click='set(5)'>5</button>
            <button class='button button-outline' ng-click='set(6)'>6</button>
            <button class='button button-calm button-outline'>x</button>
          </div>
          <div class="button-bar">
            <button class='button button-outline' ng-click='set(7)'>7</button>
            <button class='button button-outline' ng-click='set(8)'>8</button>
            <button class='button button-outline' ng-click='set(9)'>9</button>
            <button class='button button-calm button-outline'>+</button>
          </div>
          <div class="button-bar">
            <button class='button button-outline' ng-click='set(0)'>0</button>
            <button class='button button-outline'>.</button>
            <button class="button button-outline disabled"></button>
            <button class='button button-calm button-outline'>-</button>
          </div>
          <div class="button-bar">
            <button class='button button-outline button-assertive'>outline</button>
            <button class="button button-outline button-balanced">Enter</button>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
