/* Empty. Add your own CSS if you like */
.view-space{
  height: 57px;
  border: 1px solid gray;
}

.view-space p{
  width: 100%;
  height: 100%;
  text-align: right;
  vertical-align: bottom;
  font-size: 1.75em;
  padding-top: 27px;
  color: #555;
}

.sqrt{
  text-decoration: overline;
}

.button{
  padding: 5px !important;
}
